{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "electron": "1.7.9"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["import", { "libraryName": "vant", "style": true }]
  ],
  "comments": false
}
